<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContactsFromDB_dotnet_4._7._2.Properties.Settings.codewaveConnectionString"
            connectionString="Data Source=localh0stt;Initial Catalog=codewave;Persist Security Info=True;User ID=hassan;Password=11996644"
            providerName="System.Data.SqlClient" />
        <add name="ContactsFromDB_dotnet_4._7._2.Properties.Settings.codewaveConnectionString1"
            connectionString="Data Source=LOCALH0STT;Initial Catalog=codewave;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>